$text-color: $gray-800 !default;
$text-color-primary: $gray-700 !default;
$primary: #2F2F60;
$primary-light: #EDE8F5 !default;

.word-break-all {
  word-break: break-all !important;
}

// TODO: Update edx-bootstrap theme to incorporate these edits.
.btn, a.btn {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.btn-link {
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}

.profile-page {
  @include media-breakpoint-up(lg) {
    min-height: calc(100vh - 142px);
  }
  
  .form-control {
    padding: 6px 10px;
    font-size: 14px;
    line-height: 20px;
    height: 32px;
  }
  
  .d-flex.flex-row-reverse.flex-wrap {
    .form-group.d-flex.flex-wrap {
      width: 100%;
      label, .d-flex.align-items-center {
        width: 100%;
        font-size: 16px;
        padding-top: 0;
      }
    }
  }
  
  .profile-page-bg-banner {
    height: 12rem;
    background: radial-gradient(
      circle at 30% 40%,
      lighten($primary, 50%) 0%,
      $primary-light 70%
    ) !important;
    position: relative;
    overflow: hidden;

    &:before, &:after {
      display: none;
    }
  }
  
  .container-fluid {
    margin: 0 auto;
    max-width: 1600px;
    padding: 0 15px;
    
    .row {
      display: block;
      
      @include media-breakpoint-up(md) {
        display: flex;
      }
      
      &.align-items-center {
        display: flex;
        
        .col-auto.col-md-4 {
          flex: 0 0 100px !important;
          max-width: 100px !important;
          
          @include media-breakpoint-up(md) {
            flex: 0 0 200px !important;
            max-width: 200px !important;
          }
        }
        
        .d-md-none {
          display: block !important;
          
          h1 {
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            color: $text-color;
            margin: 0 0 5px;
          }
          
          p {
            color: $text-color-primary;
            margin: 0;
            font-size: 12px;
            line-height: 16px;
          }
          
          hr {
            display: none !important;
          }
        }
      }
      
      .col-md-4.col-lg-4, .pt-md-3.col-md-8.col-lg-7.offset-lg-1 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding: 0 15px!important;
        
        @include media-breakpoint-up(md) {
          padding: 50px 15px 30px 15px !important;
          flex: 0 0 50% !important;
          max-width: 50% !important;
        }
        
        @include media-breakpoint-up(lg) {
          padding: 50px 50px 30px 15px !important;
        }
        
        .d-none.d-md-block {
          display: none !important;
        }
      }
      
      .pt-md-3.col-md-8.col-lg-7.offset-lg-1 {
        padding: 0 15px 30px 15px !important;
        margin: 0;
        
        @include media-breakpoint-up(md) {
          padding: 50px 15px 30px 15px !important;
        }
        
        @include media-breakpoint-up(lg) {
          padding: 50px 15px 30px 50px !important;
        }
        
        .alert-content {
          border: none;
          box-shadow: none;
          border-radius: 8px;
          padding: 15px;
          background: $primary-light;
          color: $text-color;
          font-size: 14px;
          line-height: 20px;
          
          a {
            color: $primary;
          }
          
          .alert-heading.h4 {
            margin: 0 0 10px;
            font-weight: 500;
            font-size: 14px;
            color: $text-color;
          }
          
          p {
            margin: 0 0 10px;
          }
        }
      }
      
      .pgn-transition-replace-group:empty {
        display: none;
      }
      
      .pgn-transition-replace-group {
        border: 1px solid #E5E7EB;
        border-left: 8px solid $primary-light;
        padding: 15px !important;
        margin: 0 0 15px !important;
        border-radius: 8px;
        font-size: 14px;
        color: $text-color;
        
        .col-sm-6.d-flex.align-items-stretch {
          display: block !important;
          max-width: 100%;
          width: 100%;
          flex: 0 0 100%;
          margin: 15px 0 0;
          
          .certificate-type-illustration {
            display: none;
          }
          
          .certificate {
            border: none;
            padding: 0;
            background: $primary-light;
            margin: 0 !important;
          }
          
          .card-body {
            padding: 15px;
            
            a.default-link {
              padding: 7px 13px !important;
              border: 1px solid $primary !important;
              color: $primary;
              text-decoration: none;
              font-size: 0;
              line-height: 0;
              margin: 0 !important;
              background: $primary;
              position: absolute;
              top: 15px;
              right: 15px;
              
              &:after {
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                content: "Показать";
                color: #fff;
              }
              
              span {
                display: none;
              }
            }
            
            .card-title {
              margin: 0 0 10px !important;
              max-width: calc(100% - 138px);
            }
            
            p.small {
              font-weight: 400;
              font-size: 14px;
              color: $text-color;
              margin: 0 !important;
            }
            
            h4.certificate-title, p.h6 {
              font-size: 16px;
              line-height: 20px;
              color: $text-color !important;
              margin: 0;
              font-weight: 600;
            }
            
            p.h6 {
              margin: 0 0 10px !important;
            }
          }
        }
        
        p.h5, p.lead, .card-title {
          font-weight: 600;
          font-size: 16px;
          color: $text-color;
          margin: 5px 0 0 !important;
        }
        
        .edit-section-header {
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
          color: $text-color;
          margin: 0;
          padding: 6px 66px 6px 0;
        }
        
        small.form-text {
          background: $primary-light;
          padding: 10px 15px;
          border-radius: 6px;
          font-size: 14px;
          line-height: 20px;
          color: $text-color !important;
          margin: 10px 0 0;
        }
        
        .editable-item-header {
          margin: 0 !important;
          
          button {
            padding: 7px 13px !important;
            border: 1px solid $primary !important;
            color: #fff;
            text-decoration: none;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            margin: 0 !important;
            position: absolute;
            right: 15px;
            top: 15px;
            background: $primary;
            outline-offset: 3px;
            
            svg {
              display: none;
            }
          }
          
          p {
            .small.text-muted {
              font-size: 16px;
              color: $text-color-primary !important;
              line-height: 20px;
            }
          }
        }
        
        .editable-item-header + div {
          button {
            padding: 7px 13px !important;
            border: 1px solid #D1D5DB !important;
            font-size: 0 !important;
            color: #374151;
            text-decoration: none;
            position: absolute;
            right: 15px;
            top: 15px;
            
            svg {
              display: none;
            }
            
            &:after {
              content: "Add";
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
            }
          }
        }
        
        .editable-item-header + .list-unstyled {
          margin: 0;
          
          li {
            display: inline-block;
            vertical-align: top;
            padding: 0 !important;
            margin: 0 !important;
            display: none;
            
            &:first-child {
              display: block;
            }
            
            &.form-group {
              display: block;
              margin: 10px 0 0 !important;
              
              button {
                position: static;
                font-size: 16px !important;
                font-weight: 700;
                line-height: 20px;
                border: none !important;
                padding: 0 !important;
                color: $primary !important;
                text-decoration: underline;
                
                &:after {
                  display: none;
                }
              }
              
              a {
                color: $primary;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                text-decoration: underline;
              }
            }
            
            button {
              padding: 7px 13px !important;
              border: 1px solid #D1D5DB !important;
              font-size: 0 !important;
              color: #374151;
              text-decoration: none;
              position: absolute;
              right: 15px;
              top: 15px;
              
              svg {
                display: none;
              }
              
              &:after {
                content: "Add";
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
              }
            }
          }
        }
      }
      
      form {
        .form-group {
          &.flex-shrink-0.flex-grow-1 {
            text-align: end;
            display: flex;
            flex-direction: row-reverse;
            margin: 0;
            
            button {
              padding: 7px 13px !important;
              border: 1px solid $primary !important;
              color: #fff;
              text-decoration: none;
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              margin: 0 0 0 15px !important;
              background: $primary;
              
              &.btn-link {
                background: #fff !important;
                border-color: #D1D5DB !important;
                color: #374151;
              }
            }
          }
        }
      }
    }
  }
  
  .profile-avatar-wrap {
    margin-bottom: 0 !important;
    
    @include media-breakpoint-up(md) {
      max-width: 12rem;
      margin-right: 0;
      margin-top: -8rem;
      margin-bottom: 2rem;
    }
  }
  
  .profile-avatar {
    svg.text-muted {
      color: $primary !important;
    }
    
    width: 5rem;
    height: 5rem;
    position: relative;

    @include media-breakpoint-up(md) {
      width: 12rem;
      height: 12rem;
    }
  }
  
  .profile-avatar-menu-container {
    background: rgba(0,0,0,.65);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    @include media-breakpoint-up(md) {
      background: linear-gradient(to top, rgba(0,0,0,.65) 4rem, rgba(0,0,0,0) 4rem);
      align-items: flex-end;
    }

    .btn {
      text-decoration: none;
      
      @include media-breakpoint-up(md) {
        margin-bottom: 1.2rem;
      }
    }

    .dropdown {
      @include media-breakpoint-up(md) {
        margin-bottom: 1.2rem;
      }

      .btn {
        color: $white;
        background: transparent;
        border-color: transparent;
        margin: 0;
      }
    }
  }
  
  .profile-avatar-edit-button {
    border: none;
    position: absolute;
    height: 100%;
    left: 0;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding-top: .1rem;
    font-weight: 600;
    background: rgba(0,0,0,.5);
    border-radius:0;
    transition: opacity 200ms ease;

    @include media-breakpoint-up(md) {
      height: 4rem;
    }

    &:focus, &:hover, &:active, &.active {
      opacity: 1;
    }
  }
  
  .certificate {
    position: relative;

    .certificate-title {
      font-family: $font-family-serif;
      font-weight: 400;
    }

    .certificate-type-illustration {
      position: absolute;
      top: 1rem;
      right: 1rem;
      bottom: 0;
      width: 12rem;
      opacity: .06;
      background-size: 90%;
      background-repeat: no-repeat;
      background-position: right top;
    }

    .card-body {
      position: relative;
    }
  }
}

.username-description {
  width: auto;
  position: absolute;
  left: 1.5rem;
  top: 5.25rem;
  color: $gray-500;
  line-height: 0.9rem;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  margin-left: 0.9rem;
}

.mb-2rem {
  margin-bottom: 2rem;
}

.icon-visibility-off {
  height: 1rem;
  color: $gray-500;
}