@import "~@edx/brand/paragon/fonts";
@import "~@edx/brand/paragon/variables";
@import "~@openedx/paragon/scss/core/core";
@import "~@edx/brand/paragon/overrides";
@import "~@edx/frontend-component-header/dist/index";
@import "~@edx/frontend-component-footer/dist/footer";

@import './profile/index';

.app-header-fixed {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.app-footer {
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .app-footer {
    position: sticky;
    bottom: 0;
    z-index: 1000;
  }
}